/* styles.css */
body {
    padding-top: 20px;
  }
  
  h1, h2 {
    margin-bottom: 20px;
  }
  
  #video-cards, #uploaded-videos {
    margin-top: 20px;
  }
  
  #comments {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }